*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.mynavbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.mynav-Logo{
height: 50px;
width: 100px;
background-size: cover;
background-image: url(amazon_logo.png);
}

.MyLogo{
    height: 50px;
    background-image: url("amazon_logo.png");
    width: 100px;
    background-size: cover;
}
.myborder{
    border: 1.5px solid transparent;
}
.myborder:hover{
    border: 2px solid white
}
.myadd-first{
color: #cccccc;
font-size: 0.85rem;
}
.myadd-second{
    font-size: 1 rem;

}
.myadd-icon{
    display: flex;
    align-items: center;

}

.mynav-search{
    background-color: pink;
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.serach-select{
 background-color: #f3f3f3;
    text-align: center;
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 50px;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    font-size: 1.2rem;

}

.mynav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    display: flex;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content:space-evenly;

}

.panel-ops p{
    display: inline;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9 rem;
    font-weight: 700;
}

.foot-panel3{

color: white;
background-color: #222f3d;
justify-content: center;
align-items: center;
height: 70px;
display: flex;
border-top: 0.5px solid white;


}
.foot-panel1{

    color: white;
    background-color: #37475a;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
    font-size: 0.85rem;
    
    
    }